.container-fluid{    background:#008B8B; color: 	#FFF5EE; }
.section{ min-height:500px;}
.header{    min-height: 230px; }
form{    width:100%; margin:50px auto; }
button{ width:50%; font-weight:bold; }
.table{width:90%; margin:0px auto;}
th,td{text-align:center;}
#form-head{ color:red;}
button{ width:100px; float:right;}
#right{text-align:right;}
h2{color:#f67b00; }